[submodule "01-GIT/5-GitHW2"]
	path = 01-GIT/5-GitHW2
	url = https://github.com/Hari-Krishnan-Dev/GitHW2.git
[submodule "01-GIT/6-GitHW3"]
	path = 01-GIT/6-GitHW3
	url = https://github.com/Hari-Krishnan-Dev/GitHW3.git
